<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аналитик</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?{% now "U" %}">
</head>
<body>
<header>
    <h2><strong>Профессия Аналитик</strong></h2>
</header>
<div>
    <aside>
        <div class="logo">
            <a href="/"><p>Analyst</p></a>
        </div>
        <ul>
            <li><a href="demand"><i class="fa-solid fa-money-check-dollar"></i>Востребованность</a></li>
            <li><a href="geography"><i class="fa-solid fa-earth-europe"></i>География</a></li>
            <li><a href="skills"><i class="fa-solid fa-code"></i>Ключевые навыки</a></li>
            <li><a href="last_vacancies"><i class="fa-solid fa-clipboard-list"></i>Вакансии</a>
            </li>
        </ul>
    </aside>
</div>
<div class="page">
    <main class="main">
        <h1>О профессии</h1>
        <p>Аналитик – обобщающее название для специалистов одной профессиональной направленности, деятельность которых состоит из сбора цифровых данных, анализа и его расшифровки. Данные, над которыми работает человек, зависят от особенностей и тонкостей профессиональной сферы. Количество областей, где нужны аналитики, растет: если раньше речь шла об инвестициях и финансах, то теперь специалисты требуются в инженерии, компьютерных технологиях, биологии, рекламе.</p>
        <img src="../media/analyst1.png" class="right-img" style="width: 100%; max-width: 400px">
        <p>К прямым обязанностям аналитиков относятся сбор данных, которые понадобятся для дальнейшего анализа. Когда данные собраны, их необходимо свести к единой форме, найти в них общее или подготовить дополнительные сведения – совокупность этих процессов называют первичной обработкой.</p>
        <p>Далее следует обозначение пунктов, по которым будет проходить изучение данных, или составление плана. Конкретно анализ выполняется с применением научно-доказанных методов и новых технологий. На основе проделанной работы аналитики составляют планы дальнейшего развития, отмечают выявленные закономерности, зависимости.</p>
        <p>Для получения точного результата необходимо составить отчет, на основе которого делаются выводы. Уже с готовым документом аналитик может говорить об особенностях изученного процесса, его сложностях.</p>
        <h1>Специализации</h1>
        <p><b>Бизнес-аналитик</b> – самый востребованный специалист в сфере управления бизнес процессами. В определенной мере он экономист, разбирающийся в тонкостях финансовых процессов, происходящих в компании. Одной из главных задач бизнес-аналитика является формирование стратегии развития и решение стратегических задач, связанных с экономикой и финансами. К задачам работника относится формирование бизнес-планов, оптимизация бизнес-процессов.</p>
        <p><b>Продуктовый аналитик</b> в отличие от бизнес-аналитика, изучает свойства и особенности функционирования конкретного продукта. Специалист помогает компании увидеть, как пользователь взаимодействует с продуктом – сначала идет сбор данных, а позже аналитик выясняет потребности и поведение покупателей. Продуктовые аналитики особенно ценятся в бизнесе, потому что расшифровывают цифры и переводят их на понятный язык, который в будущем помогает составить необходимые рекомендации по развитию.</p>
        <p><b>Финансовый аналитик</b> занимается оптимизацией и управлением финансов, отслеживает появляющиеся риски, составляет оценку финансового рынка и отрасли в целом. Для данной специализации важна способность следить за финансовым состоянием, умение конструировать новые финансовые инструменты для развития бизнеса, организации.</p>
        <p><b>Маркетинговый аналитик</b> имеет широкий круг обязанностей и несет ответственность за конкурентоспособность продукта, выявление слабых и сильных сторон бренда, анализ рынка и каналов продаж с их последующим развитием. Собранная информация о рынке товаров и услуг, конкурентах, окупаемости и рентабельности помогает составлять полный отчет для дальнейшей активной работы компании.</p>
        <p><b>Системный аналитик</b> в определенной степени является «переводчиком» с языка заказчиков на язык программистов. Помимо этого они активно участвуют во внутренних процессах автоматизации – это помогает улучшить восприятие и работу пользователей с продуктами компании. Для работы в IT-компании важно не только знать тонкости бизнес-процессов, но и понимать, как они устроены технически.</p>
        <p><b>Веб-аналитик</b> отвечает за сбор и анализ информации о посетителях сайтов, их поведенческих особенностях. Благодаря работе данного специалиста сайт может буквально «ожить»: веб-аналитика необходима для повышения эффективности, улучшения работы сайта, привлечения дополнительного трафика, расширения базы пользователей. Google Analytics, Яндекс.Метрика, Call tracking – программы, позволяющие устанавливать коды отслеживания и настраивать необходимые инструменты для работы. </p>
        <img src="../media/analyst2.png" class="right-img" style="width: 100%; max-width: 500px">
        <h1>Плюсы</h1>
        У профессии аналитик есть свои плюсы:
        <ul>
            <li>широкий спектр специализаций;</li>
            <li>большие возможности для реализации навыков;</li>
            <li>высокий уровень заработной платы;</li>
            <li>востребованность.</li>
        </ul>
        <h1>Минусы</h1>
        К минусам профессии аналитик относятся:
        <ul>
            <li>высокая степень ответственности;</li>
            <li>сидячая работа;</li>
            <li>повышенное умственное напряжение;</li>
            <li>для успешного трудоустройства чаще всего нужен опыт работы по специальности и высшее образование.</li>
        </ul>
    </main>
    <footer>
        <h2 style='text-align: right; padding-right: 40px;'>Васюк Анастасия Андреевна  РИ-220932</h2>
    </footer>
</div>
</body>
</html>
